<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <plugins>
        <plugin interceptor="com.klasdq.demo.persistence.mybatis.intercepts.PageInterceptor"/>
        <plugin interceptor="com.klasdq.demo.persistence.mybatis.intercepts.SetBatchParameterInterceptor"/>
        <plugin interceptor="com.klasdq.demo.persistence.mybatis.intercepts.BatchSaveInterceptor"/>
    </plugins>
</configuration>